<!DOCTYPE html>
<html>
    <script
    src="https://code.jquery.com/jquery-2.2.4.js"
    integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI="
    crossorigin="anonymous"></script>

<title>KISABUCKS</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="css/indexstyle.css">
<body>

<!-- Navbar (sit on top) -->
<div class="w3-top">
  <div class="w3-bar w3-white w3-wide w3-padding w3-card">
    <a href="/" class="w3-bar-item w3-button"><b>KISABUCKS</b> </a>
    <!-- Float links to the right. Hide them on small screens -->
    <div class="w3-right w3-hide-small">
      <button class="w3-bar-item w3-button" id=logout>LOGOUT</button>

      <a href="mypage" class="w3-bar-item w3-button">MYPAGE</a>
    </div>
  </div>
</div>

<!-- Header -->
<header class="w3-display-container w3-content w3-wide" style="max-width:1500px;" id="home">
  <img class="w3-image" src="images/logo.jpg" alt="Architecture" width="1500" height="100">
 <!-- <div class="w3-display-middle w3-margin-top w3-center">
    <h1 class="w3-xxlarge w3-text-white"><span class="w3-padding w3-black w3-opacity-min"><b>BR</b></span> <span class="w3-hide-small w3-text-light-grey">Architects</span></h1>
  </div>-->
</header>

<!-- Page content -->
<div class="w3-content w3-padding" style="max-width:1564px">

  <!-- Project Section -->
  <div class="w3-container w3-padding-32" id="projects">
      <h3 class="w3-border-bottom w3-border-light-grey w3-padding-16">나와 가까운 카페</h3>
      <a>내 위치 : </a>
      <a href=location target="_blank"><b>서울시 송파구 가락동</b></a>
    </div>
  
  
    
  
    <div class="w3-row-padding">
        <% for (var i = 0; i < 6; i++) { %>
          <div class="w3-col l4 m6 w3-margin-bottom">
              <div class="jhcontainer">
                <div class="w3-display-topleft w3-black w3-padding"><%= results[i].cafe_name %></div>
                <img class = "jhimage" src="<%= results[i].cafe_pic %>" alt="House">
              
                <div class = "jhmiddle">
                  <div class="jhtext"><a href="cafe/detail/<%=(i+1)%>" class="w3-bar-item w3-button">주문하러가기</a></div>
                </div>
              </div>
            </div> 
        <% } %>
    
   
    <!-- Contact Section
    <div class="w3-container w3-padding-32" id="contact">
      <h3 class="w3-border-bottom w3-border-light-grey w3-padding-16">Contact</h3>
      <p>Lets get in touch and talk about your next project.</p>
      <form action="/action_page.php" target="_blank">
        <input class="w3-input w3-border" type="text" placeholder="Name" required name="Name">
        <input class="w3-input w3-section w3-border" type="text" placeholder="Email" required name="Email">
        <input class="w3-input w3-section w3-border" type="text" placeholder="Subject" required name="Subject">
        <input class="w3-input w3-section w3-border" type="text" placeholder="Comment" required name="Comment">
        <button class="w3-button w3-black w3-section" type="submit">
          <i class="fa fa-paper-plane"></i> SEND MESSAGE
        </button>
      </form>
    </div>
    
  Image of location/map
  <div class="w3-container">
    <img src="/w3images/map.jpg" class="w3-image" style="width:100%">
  </div>
  -->
  
  <!-- End page content -->
  </div>
  
  
  <!-- Footer -->
  <footer class="w3-center w3-black w3-padding-16">
    <!--<p>Powered by <a href="https://www.w3schools.com/w3css/default.asp" title="W3.CSS" target="_blank" class="w3-hover-text-green">w3.css</a></p>-->
    <p>Copyright (c) KISABUCKS All rights reserved. <br>본 사이트에서 사용된 리소스는 모두 오픈소스임을 밝힙니다</p>
  </footer>

</body>
<script>
    $("#logout").click(function(){
        $.ajax({
                url: '/logout',
                type: 'post',
                dataType : 'json',
                data : {
                  signedin : 1
                },
                success: function (data) {
                    if(data == 1){
                        alert("logged out");
                        window.location.href = "http://localhost:3000/"  
                    }
                }
        })
    });
</script>
</html>
